* {
    box-sizing: border-box;
}

#text {
    margin: 10px;
    width: 420px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px;
}

button {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 1px lightblue dashed;
    background-color: white;
    border-radius: 10px;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
    border: 1px lightblue dashed;
    background-color: white;
    border-radius: 10px;
    outline: none;
}

.resultDiv {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 420px;
    height: 50px;
    border: 1px lightcoral dashed;
    border-radius: 10px;
}

.userForm {
    width: 240px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px lightsalmon dashed;
}

.userDiv .numberDiv{
    margin-top: 20px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px lightgreen dashed;
}

.inputBlock{
    height: 50px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 700px;
    padding: 20px;
    border: 3px double #34eae0;
    border-radius: 40px 40px 40px 40px;
}
.inputElem {
    border: 3px double lightseagreen;
    border-radius: 40px 40px 40px 40px;
}

.title{
    font-size: 20px;
    font-weight: 800;
    color: #075751;
}

.buttonElem{
    height: 40px;
    width: 400px;
    font-family: "Agency FB", sans-serif;
    background: linear-gradient(135deg, #20b2aa, #075751);
    border: none;
    color: #fff;
    padding: 14px 42px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
}

table{
    margin-top: 20px;
    padding: 10px;
    border-collapse: separate;
    border: 1px solid lightpink;
    border-radius: 10px;
}

td {
    padding: 10px;
    border: 1px solid #fdc5ce;
    border-radius: 10px;
}

.currentPrice{
    height: 200px;
    width: 200px;
    background-color: #f6f687;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
}

.taskContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid lightpink;
    border-radius: 10px;
}

.arrContainer {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.elemDiv{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid lightpink;
    border-radius: 10px;
}